<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qytkj.BluetoothWaterControl.operation.dao.WXPayDao">

	<!-- 添加设备信息 -->
	<insert id="addWXPayInfo" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.qytkj.BluetoothWaterControl.operation.domain.WXPayDO">
		insert into yw_tblWXPayInfo(vchrOutTradeNo,
			 vchrTimestamp, vchrGoodsId, vchrOpenId, 
			 dtCreateTime) values(#{outTradeNo},
			 #{timestamp},#{goodsId},#{openId},#{createTime})
	</insert>
	
</mapper>